@* applies auth state to components(parent/child) *@
<CascadingAuthenticationState>
    <Error>
        <Router AppAssembly="@typeof(App).Assembly">
            <Found Context="routeData">
                @* // check for authorization *@
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                    <NotAuthorized>
                        <h3>No access.</h3>
                    </NotAuthorized>
                </AuthorizeRouteView>>
                <FocusOnNavigate RouteData="@routeData" Selector="h1" />
            </Found>
            <NotFound>
                <PageTitle>Not found</PageTitle>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p role="alert">Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>
        </Router>
    </Error>
</CascadingAuthenticationState>
